@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInImage {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-in-out;
}

.animate-fade-in-image {
  animation: fadeInImage 0.8s ease-in-out;
}

.animate-slide-up {
  animation: slideUp 0.5s ease-in-out;
}

body {
  @apply bg-gray-100;

  font-family: "Courier New", Courier, monospace;
  background-color: #6231b1;
}
